// Colors

$brand-primary: #854fc2;
$brand-secondary: #333;

$gray-lighter: #f5f5f5;
$gray-medium: #7e7e7e;
$gray-dark: #383838;

$blue-light: #65a5d1;
$blue: #3e94d1;
$blue-medium: #0a64a4;
$blue-dark: #03406a;

$red: #cd5c5c;

$brand-logo-background: $gray-dark;
$hr-color-primary: #d6d6d6;
$hr-color-secondary: #fff;

// Fonts

$glyphicons-halflings-font: 'Glyphicons Halflings';
$clear-sans-regular-font: 'Clear Sans Regular', helvetica, sans-serif;
$clear-sans-thin-font: 'Clear Sans Thin', helvetica, sans-serif;
$pt-serif-font: 'PT Serif', helvetica, sans-serif;
$pt-sans-font: 'PT Sans', helvetica, sans-serif;
$inconsolata-font: 'Inconsolata', monospace, courier;
$font-family-sans-serif: 'Merriweather', sans-serif;

// Scaffolding

$body-bg:               #ebebeb;
$text-color:            #555;
$header-footer-gutter:  80px;
$line-break-size:       20px;

// Typography

$headings-font-family:    $font-family-sans-serif;
$headings-font-weight:    400;
$headings-line-height:    1.1;
$headings-color:          $gray-dark;

// Buttons
$btn-font-weight: 300;
$btn-primary-bg: $brand-primary;

// Navbar

$navbar-brand-logo-size:    80px;
$navbar-brand-logo-margin:  10px;

$navbar-height:                    $navbar-brand-logo-size + ($navbar-brand-logo-margin * 2);
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;

$navbar-default-color:             #777;
$navbar-default-bg:                #f8f8f8;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

$navbar-default-link-color:                #777;
$navbar-default-link-hover-color:          #333;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #555;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       #ccc;
$navbar-default-link-disabled-bg:          transparent;

$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

$navbar-default-toggle-hover-bg:           #ddd;
$navbar-default-toggle-icon-bar-bg:        #888;
$navbar-default-toggle-border-color:       #ddd;

$navbar-inverse-color:                      $gray-light;
$navbar-inverse-bg:                         #222;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%);

$navbar-inverse-link-color:                 $gray-light;
$navbar-inverse-link-hover-color:           #fff;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%);
$navbar-inverse-link-disabled-color:        #444;
$navbar-inverse-link-disabled-bg:           transparent;

$navbar-inverse-brand-color:                $navbar-inverse-link-color;
$navbar-inverse-brand-hover-color:          #fff;
$navbar-inverse-brand-hover-bg:             transparent;

$navbar-inverse-toggle-hover-bg:            #333;
$navbar-inverse-toggle-icon-bar-bg:         #fff;
$navbar-inverse-toggle-border-color:        #333;

// Buttons

$btn-default-border: $btn-default-bg;
$btn-primary-border: $btn-primary-bg;

// Forms

$input-height-base: 50px;
$input-border: $gray-light;
$input-border-focus: $input-border;
$input-border-radius: 0;
$input-color: $gray-medium;
$input-color-placeholder: lighten($input-color, 30%);
