---
title: Not Found
permalink: /404.html
---

<html>
  <head>
    <title>Not Found - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    <div class="not-found">
      <div class="middle-container">
        <a href="/">
          <div class="brand-logo animated infinite bounce">
            <div class="logo-text">
              <span class="glyphicon glyphicon-home"></span>
            </div>
          </div>
        </a>
        <h1 class="heading">{{ site.title }}</h1>
        <p>Sorry, the page you requested could not be found.</p>
        <footer>
          <div class="footer-content">
            <a class="button-link-large" href="/">Return &raquo;</a>
          </div>
        </footer>
      </div>
    </div>
    {% include ga.html %}
  </body>
</html>
