@media (max-width: $screen-xs-max) {
  .header {
    .header-content {
      .header-title {
        font-size: 40px;

        &:before,
        &:after {
          font-size: 20px;
          top: -6px;
        }
      }

      .header-lead {
        font-size: 28px;
      }
    }
  }
}
