<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="home-ctrl">
      <div class="header">
        <div class="header-content">
          <div class="container">
            <h1 class="header-title">{{ page.heading }}</h1>
            {% if page.subheading %}
            <span class="header-lead">{{ page.subheading }}</span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="body">
        <div class="row">
          <div class="content">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
