<html>
  <head>
    <meta content="{{ page.title }} - {{ site.title }}" property="og:title" />
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="blog-post-ctrl">
      <div class="header">
        <div class="header-content">
          <div class="container">
            <h1 class="header-title">{{ page.title }}</h1>
          </div>
        </div>
      </div>
      <div class="body">
        <div class="row">
          <div class="content">
            {% include ad.html %}
            <div class="post">
              {{ content }}
            </div>
            <div class="comments">
              <div class="comments-inner">
                {% include disqus.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
