.brand-logo {
  text-decoration: none;
  background-color: $brand-logo-background;
  border-radius: 100%;
  border: 7px solid #E6E6E6;
  margin: 10px 0;
  height: $navbar-brand-logo-size;
  width: $navbar-brand-logo-size;
}
